<!-- load all of your templatetags directly into this template -->


<!-- -->

{% extends "home.html" %}

{% block inside %}
<div id="projects">
	<div class="quotes">
 
	</div>
	Currently occupying the ability to spread components
	server to server requires a vast amount of infrastructure knowledge.
	<br>
  	<br>
	In order to determine a stochastic model  that fits within the paradigm of
	proper logisitics, HR resource and personnel additions, and transportation
	costs.
  	<br>
	<br>
	Requires a heavy, yet robust ERP system that creates and specializes in 
	raw critical feedback which minimizes low-latency, and desirable 
	<br>
  	<br>
	results depending upon your clientele pool
	<br>
  	<br>
	Our service at SpencerTechConsulting reloves around understanding
	the demands your products needs and the retention that is required
	for the size of your business for small-businees owners to large-multinational
	companies.
	<div class="quotes">

	</div>
</div>
<div class="papers">

	<h1>Current Projects Delivered With Real-Data:</h1>
				
</div>

{% endblock inside %}
{% block script %}
<script>
	$('.quotes').attr("style", "background-image: url('http://spencertechconsulting.com/media/BIGASSQUOTES.JPG'); background-size: contain; background-position: center;");
	$('.menu').attr("style", "display: none;");

</script>
{% endblock script %}
