{% load static %}
<! DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">	
		<link rel="stylesheet" href="{% static "bootstrap/waqtoo/assets/css/bootstrap.min.css" %}"/>
		<link rel="stylesheet" href="{% static "bootstrap/waqtoo/assets/css/bootstrap-responsive.min.css" %}"/>
		<link rel="stylesheet" href="{% static "bootstrap/waqtoo/assets/css/style.css" %}"/>
		<link rel="icon" href="{% static "logo.ico" %}"/> 
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "bootstrap/waqtoo/assets/ico/apple-touch-icon-114-precomposed.png" %}"/>
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "bootstrap/waqtoo/assets/ico/apple-touch-icon-72-precomposed.png" %}"/>
		<title>{{title}}</title>
	</head>
	<body class="gray">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					{% block include %}
					{% endblock include %}
					<a href="/">
					<div class="logo">
						<div class="hidden">
							SpencerTechConsulting Website
						</div>
					</div>
					</a>
					<div class="clock-header">
						<h1>The Website Is Under Construction: Come Back At Launch Date</h1>
						<br>
						<p>
							Estimate Timer Remaining Before Launch
						</p>
					</div>
					<div class="clock" id="countdown">
					</div>
				</div>
			</div>
			<footer>
				Copyright To Waqtoo &#xa9; Follow Akeem Spencer @ <a href="https://twitter.com/UUID_Akeem">Twitter Akeem </a>
			</footer>
		</div>	

		<script src="{% static "bootstrap/waqtoo/assets/js/jquery.js" %}"></script>
		<script src="{% static "bootstrap/waqtoo/assets/js/jquery.countdown/jquery.countdown.min.js" %}"></script>
		<script src="{% static "bootstrap/waqtoo/assets/js/custom.js" %}"></script>
	</body>
</html>
