{% extends "home.html" %}

{% block inside %}
<div class="information">
	<div class="github">
		My github account:
			http://github.com/aspencerpsu
		* Always pushing and pulling ideas,
		  proof in the pudding below:
			<a href="http://github.com/aspencerpsu">giddish-yiddish-gibberish</a>
	</div>
	<div class="work">
		Come work with me:
		I'm looking for some 
		great designers,
		statisticians,
		application engineers
		&
		managers
		who are looking to be
		more intuitive with 
		their platform
	</div>
	<div class="linkin">
		Check my linkedin profile for business inquries
		*NO Recruiters Please*
		*NO Bots*
		*NO Solicitors* 
		*NO Bootleggers*
		*NO Scammers*
		*NO Creepers*
		*NO Scrapers*
		*NO Haters*
		----><a href="https://www.linkedin.com/in/akeemspencer">Akeem</a><-----
	</div>
	
</div>
{% endblock inside %}
