{% load static %}

<! DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" media="all" type="text/css" href="/static/portfolio_revamp/graphics.css"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/x-icon" href="{% static "logo.ico" %}"/>
		<link rel="stylesheet" type="text/css" href="{% static "projects.css" %}" />	
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">	
		{% block style %}{% endblock style %}
		
		<title>{{title}} </title>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

		<header class="header">
			<a href="/">
				<div class='logo'>
					<img src="/static/portfolio_revamp/img/emblemmatic-spencer-tech-consulting-&-solutions-logo-60.png" alt="My Startup Logo">
				</div>
			</a>
			<nav>
				<ul class="dropdown-menu">
					<li class=><a href="/what-we-do">What We Do</a></li>
					<li><a href="#" id="secondlink">Considerations</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="/contacts">Contact</a></li>
					<li><a href="/posts/">Blog Posts</a></li>
				</ul>
			</nav>

			<li class="menu"> <a class="btn btn collapsed" data-toggle="collapse" data-target="selections" aria-expanded="false" href="#"><span class="glyphicon-class">Menu</span></a> </li>
		</header>
		<div id="selections" class="collapse" aria-expanded="false">
		</div>
		<div class="container">
			{% block inside %}
			{% endblock %} 
                  </div>


		<div class = "row clearfix">

			<div class="footer">
				<div class="wrap">
					<div class="nav-column">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#">Tools</a></li>
							<li><a href="/what-we-do">About</a></li>
							<li><a href="/posts/">Blogs</a></li>
							<li><a href="/contacts">Contact</a></li>
						</ul>
						 
						<ul class="social-bottom">
							<li><a href="www.facebook.com/akeemspencer"><img src="/static/facebook-white.png" alt="facebook-icon"/></a></li>
							<li><a href="www.twitter.com/dagen1us"><img src="/static/twitter-white.png" alt="twitter-icon"/></a></li>
							<li><a href="https://plus.google.com/"><img src="/static/google-white.png" alt="google-icon"/></a></li>
						</ul>
					</div>
					<div class="network-column">
						<h3>Ethical Sponsor Contacts</h3>
						<ul>
							<li><div class="tutorials">New York Code & Design Academy</div></li>

							<li><div class="tutorials">The Loudest Megaphone</div></li>
						</ul>
					</div>
					<div class="enlist">
						<!-- insert the texts from the recruitment below if the screen size is 
							adjusted to a mobile device --> 
					</div>
					<pre><code class="contactblock">

						<!-- To become a contributer with me and help with recruiting, 
							contact 845-598-6387. Would love to have front-end 
							developers, back-end developers, technical developers, 
							marketing, sales, and tech ops. Otherwise, email me at: -->

						</code>
					</pre>
					<p class="copyright clearfix">
						Spencer Tech Consulting & Solutions is owned by Akeem Spencer, the CEO. @2016 All rights reserved 
						<a href="#">Privacy Policy, and Terms of Service</a>
					</p>
				</div> 
			</div>
		</div>
	</div>
	</body>
	<script src="http://docs.bootcss.com/bootstrap-1.4.0/js/bootstrap-dropdown.js" ></script>	

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	{% include "scriptfooter.html" %}
</html>
