{% load static %}

<! DOCTYPE html>
<html lang="en">
	<head>
		<style></style>
		<title>Spencer Tech Consulting & Solution's Homepage</title>
		<link rel="stylesheet" media="all" type="text/css" href="/static/portfolio_revamp/graphics.css"/>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" src="/static/portfolio_revamp/img/logo.png" type="image/x-icon"/>
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
		
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

		<header class="header">
			<a href="/">
				<div class='logo'>
					<img src="/static/portfolio_revamp/img/emblemmatic-spencer-tech-consulting-&-solutions-logo-60.png" alt="My Startup Logo">
				</div>
			</a>
			<nav>
				<ul class="dropdown-menu">
					<li class=><a href="#">What We Do</a></li>
					<li><a href="#" id="secondlink">Considerations</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="/posts/">Blog Posts</a></li>
				</ul>
			</nav>

			<li class="menu"> <a class="btn btn collapsed" data-toggle="collapse" data-target="selections" aria-expanded="false" href="#"><span class="glyphicon-class">Menu</span></a> </li>
		</header>
		<div id="selections" class="collapse" aria-expanded="false">
		</div>
		<div class="container">
			<div class="row">
				<div class="bar">
					<div class="wrap">
					
				
						<div class="frame">

						</div>

						<div class="action-container">

						<h2 class="action">
							Spencer Tech Consulting & Solutions offers entrepreneurs, bootstrappers, venture capitalists and thriving business owners alike product services featuring IT Solutions, Programming Techniques, Server Maintenance and E-Commerce businesses for a flat-rate, inexpensive setup.
						</h2>
						</div>


				</div>
			</div>

		<div class="row clearfix">
			<div class="twitter-column">

                                <!-- Remember this Twitter column is located in the row above and the position is skewed upward.....see the style.sass sheet and the graphics.css sheet.  -->
                                                <h3><strong>Twitter Feed &nbsp</strong>
                                                        <a href="http://twitter.com/akeemspencer" target="_blank"><img src="/static/twitter.png" alt=""></a></h3>
                                                <div class="twitter-feed">
                                                        <div id="tweets">

                                                                {% block title %}Recent Tweets{% endblock %}

                                                                {% block non_retweets %}
                                                                <ul>
                                                                        {% for tweet in last_5 %}
                                                                                <li>&nbsp&nbsp&nbsp&nbsp&nbsp{{ tweet.text }}<a href="https://www.twitter.com/status/{{ tweet.id_str }}">{% if tweet.retweeted %} RT {% endif %} See Tweet</a>

                                                                                </li>
                                                                        {% endfor %}
                                                                </ul>
                                                                {% endblock %}
                                                                <!-- .......
                                                                A break -->
                                                        </div>


                                                </div>
                              </div>
                  </div>


		<div class = "row clearfix">

			<div class="footer">
				<div class="wrap">
					<div class="nav-column">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="#">Tools</a></li>
							<li><a href="#">About</a></li>
							<li><a href="/posts/">Blogs</a></li>
							<li><a href="#">Contact</a></li>
						</ul>
						 
						<ul class="social-bottom">
							<li><a href="www.facebook.com/akeemspencer"><img src="/static/facebook-white.png" alt="facebook-icon"/></a></li>
							<li><a href="www.twitter.com/dagen1us"><img src="/static/twitter-white.png" alt="twitter-icon"/></a></li>
							<li><a href="https://plus.google.com/"><img src="/static/google-white.png" alt="google-icon"/></a></li>
						</ul>
					</div>
					<div class="network-column">
						<h3>Ethical Sponsor Contacts</h3>
						<ul>
							<li><div class="tutorials">New York Code & Design Academy</div></li>

							<li><div class="tutorials">The Loudest Megaphone</div></li>
						</ul>
					</div>
					<div class="enlist">
						<!-- insert the texts from the recruitment below if the screen size is 
							adjusted to a mobile device --> 
					</div>
					<pre><code class="contactblock">

						<!-- To become a contributer with me and help with recruiting, 
							contact 845-598-6387. Would love to have front-end 
							developers, back-end developers, technical developers, 
							marketing, sales, and tech ops. Otherwise, email me at: -->

						</code>
					</pre>
					<p class="copyright clearfix">
						Spencer Tech Consulting & Solutions is owned by Akeem Spencer, the CEO. @2016 All rights reserved 
						<a href="#">Privacy Policy, and Terms of Service</a>
					</p>
				</div> 
			</div>
		</div>
	</div>
		<script src="http://docs.bootcss.com/bootstrap-1.4.0/js/bootstrap-dropdown.js" ></script>
		<script>
			/* create a link tank that works with bootstrap, once in mobile */
			var bootstrap3 = document.createElement('link');
			var bootstraptheme = document.createElement("link");
			bootstraptheme.setAttribute("rel", "stylesheet");
			bootstraptheme.setAttribute("href", "/static/portfolio_revamp/bootstraptheme.css");
			var bootstrapjs = document.createElement("script");
			bootstrapjs.setAttribute("src", "/static/portfolio_revamp/bootstrapjs.js");
			bootstrap3.setAttribute("rel", "stylesheet");
			bootstrap3.setAttribute("href", "/static/portfolio_revamp/bootstrap.css");
			$(document).ready(function(){
				$('.contactblock').html("\n To become a contributer with me and help with recruiting on\n SEO training, contact (845)-598-6387. Would love to have front-end \n developers, back-end developers, technical developers, \n marketing, sales, and tech ops. Email the following address \n for possible client interaction with project success completions:  ");

				$('.contactblock').append("\n\n\t\  E-Mail To: <a href=\"mailto:aspencerpsu@gmail.com\">aspencerpsu@gmail.com</a>");
				if (window.innerWidth <= 415 || document.body.clientWidth <= 415) {
					var new_node = document.getElementsByTagName("nav")[0].cloneNode(true);
					var new_ul = document.getElementById("selections");
					new_ul.appendChild(new_node);
					$('header > nav').remove();
					
					enlist = document.getElementsByTagName('code')[0].cloneNode(true);

					$('pre').remove();
					document.getElementsByClassName('enlist')[0].appendChild(enlist);	

				}

				else {
					$('.menu').css("display", "none");
				};
				
				$('.collapsed').click(function(){
					
					$('#selections').toggle(1000);
				});
				

			});
		</script>
	</body>
</html>
