{% extends "base.html" %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
  {{ instance.title }}
{% endblock head_title %}

{% block head_extra %}
{% comment %}{{ form.media }}{% endcomment %}
<style>
	.main{
		padding: 0 41px;
	}
	.model{
		position: fixed;
		width: 500px;
		height: 500px;
	}
</style>
{% endblock head_extra %}

{% block meta %}	
		<meta property="og:description" content="{{instance.description}}"/>
		<meta property="og:title" content="{{instance.title}}"/>
		<meta property="og:type" content="article"/>
		<meta property="og:url" content="{{instance.get_absolute_url}}"/>
		<meta property="og:locale" content="en_US">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Spencer Tech Consulting & Solutions"/>
		
		<meta name="twitter:card" content="summary"/>
		<meta name="twitter:description" content="{{instance.description}}"/>
		<meta name="twitter:title" content="{{instance.title}}"/>
		<meta name="twitter:site" content="@UUID_Akeem"/>
		<meta name="twitter:author" content="@UUID_Akeem"/>
		{% if not has_image %}
			<meta name="twitter:image" content="https://spencertechconsulting.com/static/img/emblemmatic-spencer-tech-consulting-&-solutions-logo-60.png"/> 
			<meta property="og:image" content="https://spencertechconsulting.com/static/img/emblemmatic-spencer-tech-consulting-&-solutions-logo-60.png"/>
		{% else %}
			<meta property="og:image" content="https://spencertechconsulting.com{{instance.image.url}}"/>
			<meta name="twitter:image" content="https://spencertechconsulting.com{{instance.image.url}}"/>
		{% endif %}
{% endblock meta %}
{% block content %}
	
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch modal
</button>

{% comment %} Modal {% endcomment %}

<div class="modal" id="exampleModal" tabindex=-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role=document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign Up! It's Free Anway</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Nah, I'm a Wasteman">
	  <span aria-hidden="true">&times;</span>

	</button>
      </div>
      <div class="modal-body">
	...
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary" >Save changes</button>
      </div>
    </div>
   </div>
</div>

	<form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
	  {{ form }}
 	  {{ living_tissue }}
	  <input type="submit" class="btn btn-primary" value="Sign Me Up On Latest Marketing!"/>

	</form>

<div class='row'>
	<div class='col-md-6'>
		<ul>
			<li style="list-style-type: none;"><a href="/posts/">Go Back</a></li>
		</ul>
	</div>
	
	    <div class='messages'>
	      <ul class="messages">
	      {% for message in messages %}
		<li class="alert 
		  {% if message.tags %} 
		    {{ message.tags }}
		  {% endif %} 
		  {% if message.level == 40 %} 
		    alert-warning 
		  {% endif %}" role=alert>
		  {% if "html_safe" in message.tags %}
		    {{ message|safe }}
		  {% else %}
		    {{ message }}
		  {% endif %}
		</li>
	       {% endfor %}
	       </ul>
	     </div>
</div>

<div class='col-md-offset-4 col-md-6 main'>
    {% if instance.image %}
    <img src='{{ instance.image.url }}' class='img-responsive' />
    {% endif %}
<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>
{% if instance.user.get_full_name %}
<p>Author: {{ instance.user.get_full_name }}</p>
{% endif %}

<p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<hr/>
</p>

<p>
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
Facebook
</a>

<a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">
Twitter
</a>

<a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>

<a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ share_string }}.">Reddit</a>

</p>
<div class='row'>
<div class='col-md-12'>
	<div>
		<p><h4>Read Time: </h4>{{ timeshare }} minutes</p>

	</div>
	<div class="content-markdown">
		{{ instance.content }}
	</div>
<hr/>
<br/>

<div>
	<p class="lead">Comments</p>
	{% comment %}
		{% for comment in comments %}
		<blockquote>
	  		<p>	{{ comment.content }}</p>
	  		<footer>via <small>via {{ comment.user }} | {{comment.timestamp|timesince}}</small></footer>
		</blockquote>
		<hr>
		{% endfor %}
	<!-- 	{{ instance.comment_set.all }} -->
	{% endcomment %}
</div>
<div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

</div>
</div>
</div>

{% endblock content %}
