/* Lines 2-End are styles primarly responsible for desktop-size screns */
.header {
  width: 100%;
  height: 200px;
  background-color: #0b0a0a;
  opacity: 1;
  z-index: 80;
  margin-top: -18px;
  margin-left: -8px;
}
.header nav {
  transition: opacity, 1.485s;
  width: 1000px;
  height: 95px;
  background-color: #0b0a0a;
  position: absolute;
  top: 80px;
  left: 280px;
  opacity: 1;
}
.header nav .logo {
  float: left;
}
.header nav ul {
  width: 1000px;
  height: 100px;
}
.header nav ul li {
  transition: background-color, 1.5s;
  display: inline-block;
  width: 125px;
  height: 145px;
  color: white;
  padding: 0 30px;
  font-size: 22px;
  border: 20px hidden rgba(35, 41, 40, 0.75);
  border-radius: 0%;
  text-align: center;
  vertical-align: middle;
}
.header nav ul li #secondlink {
  margin-left: -5px;
  margin-top: 48px;
  height: 100px;
  display: block;
  text-align: justify;
  text-decoration: none;
  color: inherit;
  width: 140px;
}
.header nav ul li a {
  text-decoration: none;
  color: inherit;
  width: 140px;
  margin-left: 16px;
  margin-top: 48px;
  height: 100px;
  display: block;
  text-align: justify;
}
.header nav ul li:hover {
  border: 20px hidden rgba(35, 41, 40, 0.75);
  border-radius: 50%;
  background-color: rgba(35, 41, 40, 0.75);
}
.header nav ul li:nth-child(1):hover {
  font-size: 18px;
}
.header nav ul li:last-child a {
  margin-left: 1px;
}

.bargin {
  color: #000000;
}

.row {
  display: block;
}

.bar {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 278px;
  overflow: visible;
  width: 100%;
  margin-top: 10.85%;
  padding-top: 50px;
}

.wrap {
  margin: 0 390px;
  width: 1000px;
}

.frame {
	    width: 49%;
    background-image: url(https://static.pexels.com/photos/90807/pexels-photo-90807.jpeg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 112%;
    margin-top: -39px;
    margin-left: -29px;
    background-attachment: fixed;
    height: 300px;
    left: 0;
    bottom: 43px;
    margin-top: -34px;
    margin-left: -44px;
    border: 7.5px inset;
}

.action-container {
    width: 49%;
    margin-left: -33px;
    margin-top: -85px;
    clear: both;
    position: relative;
     bottom: 290px; 
    left: 641px;
}

.action {
  margin: 5px 0 0 0;
  color: #4c4c4c;
  text-shadow: none;
  font-family: "DroidSansRegular", sans-serif;
  font-size: 2.2rem;
  letter-spacing: -2px;
  font-weight: normal;
  line-height: 120%;
}

.footer {
	background: #4E4E4E url(http://www.developershed.com/images/footer-background.png) repeat;
    	width: 100%;
    	height: 450px;
    	margin: 0 0 -30px 0;
}
.footer ul li img {
  vertical-align: middle;
  max-width: 100%;
}
.footer h3 {
  color: #fff;
  font-family: "ExoBold", san-serif;
  font-weight: normal;
  font-style: normal;
  margin: 35px 0 0 5%;
}
.footer .social-bottom {
  margin: 117px 30% 0 0;
  list-style: none;
  padding: 2px 6px 4px 6px;
  float: right;
  text-align: center;
}
.footer .social-bottom font {
  family: "DroidSansRegular", san-serif;
  weight: normal;
  style: normal;
}
.footer .social-bottom li {
  display: inline;
  float: left;
  padding-right: 5px;
}
.footer .social-bottom li a {
  color: #fff;
  text-decoration: None;
}
.footer .nav-column a {
  color: #fff;
}
.footer a {
  text-decoration: underline;
}
.footer pre code {
  position: relative;
  top: 70px;
  background-color: #2d2d2d;
  overflow-y: auto;
  overflow-x: auto;
  max-height: 420px;
  color: #cccccc;
  display: block;
  vertical-align: baseline;
  left: 28px;
  line-height: 100%;
  padding: 3px;
}
.footer pre code a {
  text-decoration: underline;
  color: #cc99cc;
}

.clearfix {
  display: block;
}

.nav-column {
  color: #fff;
  text-align: right;
  width: 18%;
  float: left;
  font-family: "DroidSansRegular", sans-serif;
  font-style: normal;
  display: block;
}
.nav-column ul {
  line-height: 160%;
  margin: 70px 30% 0 0;
  list-style: None;
  list-style-type: None;
}

.network-column {
  width: 37%;
  font-family: "DroidSansRegular", sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 2px 6px 4px 6px;
  float: right;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}
.network-column ul {
  list-style: None;
  list-style-type: None;
}

.tutorials {
  list-style-type: None;
  list-style: None;
}

.twitter-column {
  text-align: left;
  width: 20%;
  float: left;
  color: #4c4c4c;
  margin-top: -325px;
}
.twitter-column h3 {
  position: relative;
  top: -80px;
}

.twitter-feed {
  width: 100%;
  word-wrap: break-word;
}

#tweets {
  text-align: left;
  color: #4c4c4c;
  width: 300px;
  height: 330px;
  overflow: scroll;
  margin-top: -85px;
}
#tweets h3 {
  font-size: 22px;
}
#tweets ul {
  padding: 0 0 0 10;
}
#tweets ul li {
  list-style-type: none;
  padding: 20px 5px;
}

.copyright {
    position: relative;
    top: 140px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    left: 46px;
    display: block;
    width: 630px;
}

/*# sourceMappingURL=graphics.css.map */
