<! DOCTYPE html>
<html lang="en">
	<head>
		<title>Spencer Tech Consulting & Solution's Homepage</title>
		<link rel="stylesheet" type="text/css" href="/static/graphics.css"/>
		<meta charset="utf-8">
		<meta name="viewport" contents="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" src="/static/logo.png" type="image/x-icon"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>	
	</head>
	<body>
		<div class = "header">
			<a href="/index">
				<div class='logo'>
					<img src="/static/emblemmatic-spencer-tech-consulting-&-solutions-logo-60.png" alt="My Startup Logo">
				</div>
			</a>
			<nav>
				<ul>
					<li><a href="#">What We Do</a></li>
					<li><a href="#" id="secondlink">Considerations</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Weekly Blog</a></li>
				</ul>
			</nav>
		</div>
		<div class="row"></div>
		
		<div class="row">
			<div class="bar">
				<div class="wrap">
					
				
					<div class="frame">
						<img src="/static/cosmos.jpg" alt="random_image" id="row1-image">
					</div>

					<div class="action-container">

						<h2 class="action">
							Spencer Tech Consulting & Solutions offers entrepreneurs, bootstrappers, venture capitalists and thriving business owners alike product services featuring IT Solutions, Programming Techniques, server maintenance and e-commerce businesses for flat-rate, inexpensive setup.
						</h2>


					</div>
				</div>
			</div>
		</div>

		<div class="bloggsophere">
			{% comment %}
				{# extends "base.html" #}
				{# block navi #}
					<a href="{# url homepage_index #}">Home's Page</a>-<a href="{# url homepage_about #}">About</a>
					<a href="{# url homepage_contact #}">Contact</a>-<a href="{# url homepage_archive #}">Archive</a>

				{# block content #}
					<h3>Entries</h3>

					{# for e in page.object_list #}
						<div>{{# e.title #}}-{{# e.created #}}</div>
							<div>{{# e.text #}}</div>
							<br/>
					{# endfor #}
					{# if page.has_previous #}
						<a href="?page{{#page.previous_page_number#}}">prev</a>
					{# endif #}
					
					{# if page.has_next #}
						<a href="?page{{# page.previous_page_number #}}">next</a>
					{# endif #}
				{# endblock #}

				{# block footer #}
				2016-AkeemSpencer's Blogs
				For more inquries or if you would like your own blog generated: contact Akeem
				{# endblock #}
			{% endcomment %}
		</div>

		<div class = "row clearfix">

			<div class="footer">
				<div class="wrap">
					<div class="nav-column">
						<ul>
							<li><a href="/index">Home</a></li>
							<li><a href="/tools">Tools</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/blogs">Blogs</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>

						<ul class="social-bottom">
							<li><a href="www.facebook.com/akeemspencer"><img src="/static/facebook-white.png" alt="facebook-icon"/></a></li>
							<li><a href="www.twitter.com/dagen1us"><img src="/static/twitter-white.png" alt="twitter-icon"/></a></li>
							<li><a href="https://plus.google.com/"><img src="/static/google-white.png" alt="google-icon"/></a></li>
						</ul>
					</div>
					<div class="network-column">
						<h3>Ethical Sponsor Contacts</h3>
						<ul>
							<li><div class="tutorials">New York Code & Design Academy</div></li>
							<li><div class="tutorials">New York Javascript Forum</div></li>
							<li><div class="tutorials">WordPress Bloggers</div></li>
						</ul>
					</div>
					<div class="twitter-column">
						<h3>Twitter Feed &nbsp
							<a href="http://twitter.com/akeemspencer" target="_blank"><img src="/static/twitter.png" alt=""></a></h3>
						<div class="twitter-feed">
							<div id="tweets">
								
								{% block title %}Recent Tweets{% endblock %} 

								{% block non_retweets %}
								<ul>
									<li><a href="https://www.twitter.com/status/{{id}}"></a></li>
								</ul>
								{% endblock %}
								<!-- .......
								A break -->
							</div>
							<script>
								$.getJSON('includes/twitter-feed/cache/get-feed.php', function(data) {
									$.each(data, function(i) {
										var url = "http://twitter.com/"+data[i]['user']['screen_name'];
										var tweet = "<p><a href='"+url+"'>@"+data[i]['user']['screen_name']+"</a>";
										tweet += "<br/>";
										tweet += twitterfy(data[i]['text']);
										tweet += "</p>";
										$('#tweets').append(tweet);
									});
								});

								function twitterfy(text){
									text = text.replace(/(\b(https?|ftp|file):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%?=~_|])/i, "<a href='$1' target='_blank'>$1</a>")

											.replace(/(^|\s)#(\w+)/, "$1<a href='http://search.twitter.com/search?q=%23$2' target='_blank'>#2")
											.replace(/(^|\s)@(\w+)/, "$1<a href='http://www.twitter.com/$2' target='_blank'>@$2</a>")

											return text;
								}

								function parseTwitterDate(date) {
									var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', ];
									var d = new Date(date);
									var month = months[d.getMonth()];
									var day = d.getDay();
									var hours = d.getHours();

									// 12 hour instead of 24

									var suff = "am";
									if (hours==0) {hours=12;}
									else if (hours==12) {suff="pm";}
									else if (hours>12) {hours=(hours-12); suff="pm";}

									//0 in front of single digits
									var mins = d.getMinutes();
									if (mins.length==1) {mins = "0"+mins;}

									return month+' '+day+' '+hours+":"+mins+suff;
								}
							</script>
						</div>
					</div>
					<p class="copyright clearfix">
						Spencer Tech Consulting & Solutions is owned by Akeem Spencer, the CEO. @2016 All rights reserved 
						<a href="#">Privacy Policy, and Terms of Service</a>
					</p>
				</div>
			</div>
			
		</div>
		
	</body>
</html>