<! DOCTYPE html>
<html lang="en">
	<head>
		<title>Spencer Tech Consulting & Solution's Homepage</title>
		<link rel="stylesheet" type="text/css" href="/static/graphics.css"/>
		<meta charset="utf-8">
		<meta name="viewport" contents="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class = "header" style="">
			<a href="/">
				<div class='logo'>
					<img src="/static/emblemmatic-spencer-tech-consulting-&-solutions-logo-60.png" alt="My Startup Logo">
				</div>
			</a>
			<nav>
				<ul>
					<li><a href="#">What We Do</a></li>
					<li><a href="#">Considerations</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</nav>
		</div>
		<div class="main">
			<h1>Hello World!</h1>
			<h2>Testing, Testing, read all about it!</h2>
		</div>
	</body>
</html>